/*
    GLOBAL
 */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    transition: background-image 0.5s ease;
    font-family: Poppins, serif !important;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

  {
    height: 100vh;
    width: 100vh;
}

.content {
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    transition: background-image 0.5s ease;
    font-family: Poppins, serif !important;
    width: 100%;
    height: 100%;
    margin-top: -20px;
}



.gameContainer {

    top: 0;
    padding-left: 7rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    transform: translateY(20px);
    width: 100%;
    height: 100%;
    background-size: cover;
    margin: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.gameTitle {
    margin-top: 50px;
    font-size: 4.5rem;
    color: white;
    text-align: left;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease;
    margin-left: 4rem;
    font-family: Staatliches, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.containerButton {
    margin-top: 69px;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.buttonPlay {
    background-color: #dde8e8;
    width: 17rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 4rem;
}
.buttonPlay:hover {
    background-color: #ffffff;

}

.buttonPlay > p {
    margin-left: 1.2rem;
    position: relative;
    z-index: 2;
    white-space: nowrap;

}

.playIcon {
    position: relative;
    z-index: 2;
    transition: all 1s;
}

.loader {
    background: #a5a5a5;
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: width 3s;
}

.buttonPlay.loading .loader {
    width: 100%;
}

.buttonSettings{
    background-color: #dde8e8;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.playIcon:hover{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.roomContainer {
    margin-top: 2rem;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.roomContainer h1{
    font-family: Poppins, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    margin: 20px 0px 10px 0;
}
.roomSaloonContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
}

.roomBox {
    width: 15rem;
    height: 7.5rem;
    background-color: rgba(23, 22, 22, 0.8);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.roomBox:hover {
    background-color: rgba(22, 22, 22);
    transform: scale(1.02);

}

.roomTitle {
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.roomOnline {
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 14px;
    margin-left: 1rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

/*
    MATCHTYPE
*/

.matchtypeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
    margin-top: 5rem;
    gap: 10rem;
    margin-left: 2rem;
    font-family: Poppins !important;
}

.matchtype{
    width: 25rem;
    height: 12rem;
    border: 2px solid rgb(128, 128, 128);
    filter: grayscale(100%); /* rend l'image en noir et blanc */
    border-radius: 2px;
    display: flex;
    justify-content: start;
    align-items: center;
    color : white;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.matchtypeBackground {
    width: 100%;
    height: 80%;
    background-image:
            linear-gradient(to top, black, transparent),
            url("/public/assets/background/cards/card21.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.matchtypeBackgroundBr {
    width: 100%;
    height: 80%;
    background-image:
            linear-gradient(to top, black, transparent),
            url("/public/assets/background/cards/card18.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.matchtype:hover {
    filter: grayscale(0%); /* rend l'image en noir et blanc */
}

.matchtypeNameContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto mono";
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Staatliches, sans-serif;
}

.nolink {
    text-decoration: none;
}

.version {
    position: absolute;
    background-color: black;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0px 9px;
    border-radius: 30px;
    top: 304px;
    left: 347px;
    z-index: 3;
    cursor: pointer;
    width: 46px;
    height: 40px;
    margin-left: 4rem;
}

.version i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;

}

.versionDropdown {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 44px;
    height: 0px;
    margin: 0 auto;
    position: absolute;
    color : white;
    background-color: black;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 10px;
    z-index: 2;
    font-family: Poppins, sans-serif;
    top: 322px;
    left: 411px;
    transition: height 0.5s ease, visibility 0.5s ease;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.dropdownActive {
    visibility: visible;
    height: auto;
    transition: height 0.5s ease, visibility 0.5s ease;
}

.versionList {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 15px;
}

.versionItem {
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    padding: 8px 6px;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease;
    transition-delay: 0.3s;
    font-size: 12px;
    font-weight: bold;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.versionItem:hover {
    background-color: white;
    color: black;
}

.dropdownActive .versionItem {
    opacity: 1;
    transition-delay: 0s; /* Supprimez le délai pour l'animation d'apparition */
}

.itemActive {
    background-color: white;
    color: black;
}

.down {
    margin-top: -5px;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.poppins {
    font-family: Poppins, sans-serif;
    font-weight: bold;
}
